[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BallaTeja
[access "refs/for/refs/*"]
	read = group user/BallaTeja
	push = group user/BallaTeja
	label-Code-Review = -2..+2 group user/BallaTeja
	label-Verified = -1..+1 group user/BallaTeja
	rebase = group user/BallaTeja
	removeReviewer = group user/BallaTeja
	submit = group user/BallaTeja
[access "refs/heads/*"]
	read = group user/BallaTeja
	create = group user/BallaTeja
	push = +force group user/BallaTeja
	pushMerge = group user/BallaTeja
[access "refs/tags/*"]
	push = group user/BallaTeja
	push = +force group user/BallaTeja
